<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include the permission for internet access, our app needs it to view events, etc -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolosProject"
        tools:targetApi="31">
        <activity android:name=".IntroActivity" />
        <activity
            android:name=".TestSuccessScreen"
            android:exported="false" />
        <activity
            android:name=".OrganizerCreation"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" /> <!-- Declare IntroActivity as the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          
        </activity><!-- Declare FirstTimeProfileCreationActivity -->
        <activity android:name=".FirstTimeProfileCreationActivity" >
        </activity>

        <!-- Declare AttendeeDashboardActivity -->
        <activity android:name=".AttendeeDashboardActivity" >
        </activity>

        <!-- Declare EditProfileActivity -->
        <activity android:name=".EditProfileActivity" >
        </activity>

        <!-- Declare ViewAllEventsActivity -->
        <activity android:name=".ViewAllEventsActivity" >
        </activity>
    </application>

</manifest>